body{
  background: #f4f4f4;
}

.navbar-nav{
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top: 6px !important;
  padding-bottom: 0px;
  height: 33px;
}
